
.header-stick .menu-desktop ul li a:hover {
    color: #008e00; 
}

.profile-img{
    margin-top: 25px;
    margin-left: 25px;
}

@media(max-width: 768px) {
    .profile-img{
        margin-top: 25px;
        margin-left: 0px;
    }
    
}

.conatct-icon{
    font-size: 20px;
    color: #ac292b;
}



#whatsapp-icon {
    width: 40px;
    height: 40px;
    background-color: #3ebd4e;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    line-height: 40px;
    text-align: center;
    z-index: 1000;
    border-radius: 50%;
}
  
#whatsapp-icon i {
    font-size: 1.5rem;
    color: #fff;
}
  
@media(max-width: 768px) {
    #whatsapp-icon {
        right: 20px;
    }
}

#instagram-icon {
    width: 40px;
    height: 40px;
    background-color: #f70b52;
    position: fixed;
    bottom: 93px;
    right: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    line-height: 40px;
    text-align: center;
    z-index: 1000;
    border-radius: 50%;
}
  
#instagram-icon i {
    font-size: 1.5rem;
    color: #fff;
}
  
@media(max-width: 768px) {
    #instagram-icon {
        right: 20px;
    }
}



#facebook-icon {
    width: 40px;
    height: 40px;
    background-color: #0863f7;
    position: fixed;
    bottom: 135px;
    right: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    line-height: 40px;
    text-align: center;
    z-index: 1000;
    border-radius: 50%;
}
  
#facebook-icon i {
    font-size: 1.5rem;
    color: #fff;
}
  
@media(max-width: 768px) {
    #facebook-icon {
        right: 20px;
    }
}

.active-mine{
    color: #008e00 !important;
}