{% extends "user_app/components/base.html" %}
{% load static %}
{% block content %}

{% include 'user_app/components/header.html' %}


<!-- Slider -->
<section class="slide">
    <!-- revolution slider begin -->
    <div class="rev_slider_wrapper">
      <div id="revolution-slider4" class="rev_slider" data-version="5.4.5" style="display: none;">
        <ul>
          <li data-transition="scaledownfromleft" data-slotamount="7" data-masterspeed="2500" data-delay="7000">
            <!--  BACKGROUND IMAGE -->
            <img src="{% static 'user_app/img/mine/img-2.jpg' %}" alt="Slide 1">

            <div class="tp-caption slide-title-4-h" data-x="center" data-y="['360','240','240','200']" data-fontsize="['60', '60', '56', '50']"
              data-whitespace="nowrap" data-frames='[{"delay":1600,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
              construction 
            </div>
            <div class="tp-caption slide-title-4" data-x="center" data-y="center" data-fontsize="['36','32','30','22']" data-whitespace="nowrap"
              data-frames='[{"delay":1600,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
              is thinking make visual
            </div>
            <a href="#" class="tp-caption au-btn au-btn--big au-btn--pill au-btn--yellow au-btn--slide" data-x="center" data-y="['500','390','390','310']"
              data-frames='[{"delay":2200,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'>
              get a quote
            </a>
          </li>

          <li data-transition="slidedown" data-slotamount="7" data-masterspeed="2500" data-delay="7000">
            <!--  BACKGROUND IMAGE -->
            <img src="{% static 'user_app/img/mine/img-1.jpg' %}" alt="Slide 2">

            <div class="tp-caption slide-title-4-h" data-x="center" data-y="['360','240','240','200']" data-fontsize="['60', '60', '56', '50']"
              data-whitespace="nowrap" data-frames='[{"delay":1600,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
              construction 
            </div>
            <div class="tp-caption slide-title-4" data-x="center" data-y="center" data-fontsize="['36','32','30','22']" data-whitespace="nowrap"
              data-frames='[{"delay":1600,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
              is thinking make visual
            </div>
            <a href="#" class="tp-caption au-btn au-btn--big au-btn--pill au-btn--yellow au-btn--slide" data-x="center" data-y="['500','390','390','310']"
              data-frames='[{"delay":2200,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'>
              get a quote
            </a>
          </li>

          <li data-transition="scaledownfromleft" data-slotamount="7" data-masterspeed="2500" data-delay="7000">
            <!--  BACKGROUND IMAGE -->
            <img src="{% static 'user_app/img/mine/img-3.jpg' %}" alt="Slide 3">

            <div class="tp-caption slide-title-4-h" data-x="center" data-y="['360','240','240','200']" data-fontsize="['60', '60', '56', '50']"
              data-whitespace="nowrap" data-frames='[{"delay":1600,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
              construction 
            </div>
            <div class="tp-caption slide-title-4" data-x="center" data-y="center" data-fontsize="['36','32','30','22']" data-whitespace="nowrap"
              data-frames='[{"delay":1600,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
              is thinking make visual
            </div>
            <a href="#" class="tp-caption au-btn au-btn--big au-btn--pill au-btn--yellow au-btn--slide" data-x="center" data-y="['500','390','390','310']"
              data-frames='[{"delay":2200,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'>
              get a quote
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- revolution slider end -->
  </section>
  <!-- End Slider -->

  <!-- AboutUs -->
  <section class="we-are">
    <div class="container">
      <div class="row no-gutters" >
        <div class="col-lg-5 col-md-12 col-12" data-aos="fade-up">
          <div class="we-are__left">
            <img alt="Project 1" src="{% static 'user_app/img/mine/img-5.jpg' %}" style="border-radius: 4px;">

          </div>
        </div>
        <div class="col-lg-7 col-md-12 col-12" data-aos="fade-up">
          <div class="we-are__right"> 
            <h2>why <span style="color: #008e00;">choose us</span></h2>
            <h2 class="title--small">professional Agency</h2>

            <h5>We make your building more perfect with 25 years of experience</h5>
            <p class="m-b-10">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi ut lmao labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercit ullamco labont nisi.
            </p>
            <p>
              Duis aute irure dolor  velit esse cillum dolore eu fugiat alt nulla pariatur. 
            </p>
            <div class="see-more see-more--left">
              <a href="#" class="au-btn au-btn--big au-btn--pill au-btn--yellow au-btn--white">See More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End AboutUs -->

  <!-- Our process -->
  <section class="our-process">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12" data-aos="zoom-in">
          <div class="our-process__item our-process__item--l-b">
            <h3>
              <i class="fa fa-money" aria-hidden="true"></i>
              Economical
            </h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accuntium.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12" data-aos="zoom-in">
          <div class="our-process__item our-process__item--l-t">
            <h3>
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              Best Plan
            </h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accuntium.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12" data-aos="zoom-in">
          <div class="our-process__item our-process__item--l-b">
            <h3>
              <i class="fa fa-rocket" aria-hidden="true"></i>
              Fast Work
            </h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accuntium.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12" data-aos="zoom-in">
          <div class="our-process__item">
            <h3>
              <i class="zmdi zmdi-city-alt"></i>
              high quality
            </h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accuntium.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End our process -->

  <!-- Major Project -->
  <div class="blog1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
          <h2 class="title">
            Major
            <span>
              projects
            </span>
          </h2>
          <p class="title-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="isotope-grid" class="clearfix">
        <div class="col-md-6 item" data-aos="fade-up">
          <div class="blog-item">
            <div class="img-blog">
              <a href="#">
                <img alt="Blog 1" src="{% static 'user_app/img/mine/img-6.jpg' %}">
              </a>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">
                <a href="">Reserve Bank of India</a>
              </h4>
              <p class="blog-meta">
                <!-- <em class="author">By AThony Lee</em>
                <em class="cate">Design Knowledge</em>
                <em class="time">Apr 24,2024</em> -->
              </p>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet ....
              </p>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <div class="col-md-6 item " data-aos="fade-up">
          <div class="blog-item">
            <div class="img-blog">
              <a href="#">
                <img alt="Blog 2" src="{% static 'user_app/img/mine/img-8.jpg' %}">
              </a>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">
                <a href="">IIM</a>
              </h4>
              <p class="blog-meta">
                <!-- <em class="author">By Mike Song</em>
                <em class="cate">Interior Experiences</em>
                <em class="time">Dec 14,2024</em> -->
              </p>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet ....
              </p>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <div class="col-md-6 item " data-aos="fade-up">
          <div class="blog-item">
            <div class="img-blog">
              <a href="#">
                <img alt="Blog 3" src="{% static 'user_app/img/mine/img-7.jpg' %}">
              </a>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">
                <a href="">Kerala State Electricity Board</a>
              </h4>
              <p class="blog-meta">
                <!-- <em class="author">By Jawn Ha</em>
                <em class="cate">Tricks and Tips</em>
                <em class="time">Nov 24,2024</em> -->
              </p>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet ....
              </p>
            </div>
          </div>
        </div>
        <!-- End Item -->
        <div class="col-md-6 item " data-aos="fade-up">
          <div class="blog-item">
            <div class="img-blog">
              <a href="#">
                <img alt="Blog 4" src="{% static 'user_app/img/mine/img-9.jpg' %}">
              </a>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">
                <a href="">Light House</a>
              </h4>
              <p class="blog-meta">
                <!-- <em class="author">By Lake Louthor</em>
                <em class="cate">Design Knowledge</em>
                <em class="time">Apr 24,2024</em> -->
              </p>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet ....
              </p>
            </div>
          </div>
        </div>
        <!-- End Item -->
        
      </div>
    </div>
  </div>
  <!-- End Major Project -->

    {% include 'user_app/components/footer.html' %}
  
{% endblock content %}
  
  