{% load static %}
<!-- Footer -->
<footer class="footer-3">
    <div class=" section-content section-content--w1140">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <h2 class="logo-footer">
              <a href="index.html">
                <img alt="Logo" src="{% static 'user_app/img/mine/logo-white.png' %}" style="width: 70px;">
              </a>
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur moon el adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloe magna
              aliqua.
            </p>
            <h5 class="title-footer">
              FOLLOW US
            </h5>
            <div class="social-footer">
              <a href="">
                <i class="zmdi zmdi-facebook"></i>
              </a>
              
              <a href="">
                <i class="zmdi zmdi-instagram"></i>
              </a>
              <a href="">
                <i class="zmdi zmdi-whatsapp"></i>
              </a>
              <a href="">
                <i class="zmdi zmdi-twitter"></i>
              </a>
              
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <h5 class="title-footer m-b-26">
              Pages
            </h5>
            
            <p class="con__item">
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              Home
            </p>
            <p class="con__item">
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              About
            </p>
            <p class="con__item">
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              Services
            </p>
            <p class="con__item">
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              Projects
            </p>
            <p class="con__item">
              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
              Contact
            </p>
          </div>
          <div class="col-lg-4 col-md-6">
            <h5 class="title-footer m-b-26">
              contact info
            </h5>
            <p class="con__item">
              South View, opp. Ramananda Oil mill, South Bazar, Puzhathi Housing Colony, Kannur, Kerala 670002
            </p>
            <p class="con__item">
              <i class="fa fa-phone" aria-hidden="true"></i>
              (+91) 0000 000 000
            </p>
            <p class="con__item">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              shankar@gmail.com
            </p>
            <p class="con__item">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              Monday- Friday : 8am - 6pm
            </p>
          </div>

            
          
        </div>
        <div class="copyright-2">
          <div>
            Copyright © 2024 Designed by
            <span>Dhanwis</span>. All rights reserved.
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- End Footer -->